

.App {
  text-align: center;
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login{
  height: 500px;
  width: 700px;
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F2F2F2;
}

/* 
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */

